<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dhanush Komari</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/css/1.css' %}"  type="text/css">
    
</head>
<body>
    <!--  <h3>Hello welcome to homepage</h3> 
    <div class="container">
        <img src="{% static '/images/1.jpeg' %}" alt="" width=400 height=400 >
    </div> -->
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body" id="pofile-wrappers">
                    <img id="profile-pic" src="{% static '/images/1.jpeg' %}" alt="" width=250 height=250 >
                    <hr>
                    <h4>Hi I'm Dhanush Komari</h4>
                    <p>I love Coding, Developing is my Passion.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-body">div-2</div>
            </div>
        </div><br>

        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">div-3</div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">div-4</div>
            </div>
        </div><br>

        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">div-5</div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">div-6</div>
            </div>
        </div><br>

    </div>




</body>
</html>